{% extends "base.html" %}

{% block content %}

        <div class="jumbotron">
          
        <h4>
          题号：{{ question.id }}
        </h4>

        <form action="/answer/" method="GET" class="form">

            <div class="form-group">
                <label >{{ question.topic }}</label>
                <input type="hidden"  name="question_id" value={{ question.id }} >
            </div>

            {% for answer in question.answer.all %}
                {% if question.is_multiple %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="answer_id" value="{{ answer.id }}">
                        {{ answer.label }}
                        {{ answer.desc|default:"" }}
                      </label>
                    </div>
                {% else %}
                    <div class="radio">
                      <label>
                        <input type="radio" name="answer_id" value="{{ answer.id }}">
                        {{ answer.label }}
                        {{ answer.desc|default:"" }}
                      </label>
                    </div>
                {% endif %}
            {% endfor %}


          <a href="/?question_id={{ prev_id }}" class="btn btn-success" >上一题</a>
          <button type="submit" class="btn btn-primary" >提交</button>
          <a href="/?question_id={{ next_id }}" class="btn btn-success" >下一题</a>

          {% if wrong %}
          <div style="color:red;margin-top:50px">
              <label>
                答错啦！正确答案是：

                {% for answer in question.correct.all %}
                      {{ answer.label }}
                {% endfor %}
              </label>
            </div>
          {% endif %}

        </form>


        <div>


      </div>
    </div>


    <script>
      $("#index").addClass("active")

      {% if question.id > 150 %}
        alert("测试版本只可查看录入的前150题")
        top.location.href = "/"
      {% endif %}


      {% if not question.is_multiple %}
        $("[name='answer_id']").click(function(){
          $("form").submit()
        })

      {% endif %}

    </script>


          
  {% endblock %}